
    .About {
      width: 40rem;
        background:lightyellow;
        text-align: left;
        height: 4rem;
        font-size:4mm;
        margin: 0rem;

    }
    .class1 {
        font-family: cursive;
        color:white;
        font-size:30px;
        text-align:center;

    }
        